{% extends 'base.html.twig' %}

{% block title %}Le Backoffice!{% endblock %}

{% block stylesheets %}
    {{ parent() }}  {# Inclut le CSS de base du parent #}
    <link href="{{ asset('css/backoffice-style.css') }}" rel="stylesheet">  {# Ajout de style spécifique à cette page #}
{% endblock %}

{% block main %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h1 class="mb-4">Bienvenue dans le Backoffice</h1>
                    <p class="lead">Vous avez maintenant accès à la partie administrative du site. Félicitations pour avoir réussi à accéder à cette section!</p>
                    <p>Depuis cette interface, vous pouvez gérer les données du site, y compris les visages affichés. Cliquez sur le lien ci-dessous pour accéder à la gestion des visages.</p>
                    <a class="btn btn-primary btn-lg" href="{{ path('app_backoffice_visage_index') }}">Gérer les Visages</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
