{% extends 'backoffice/backoffice_base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block main %}
    <h1>Edit User</h1>
    
    {{ include('backoffice/user/_form.html.twig', {'button_label': 'Update'}) }}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    {{ include('backoffice/user/_delete_form.html.twig') }}
    {% endif %}

    <a href="{{ path('app_backoffice_user_index') }}">back to list</a>
{% endblock %}
