{% extends 'backoffice/backoffice_base.html.twig' %}

{% block title %}New User{% endblock %}

{% block main %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_backoffice_user_index') }}">back to list</a>
{% endblock %}
