{% extends 'base.html.twig' %}

{# {% block title %}Hello MainController!{% endblock %} #}
{% block html %}
<style>
    .licorne { background: white url(/assets/Images/licorne.png) no-repeat fixed center center ;
               background-size: cover; }
</style>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
</style>

<div class="licorne">
    <div class="example-wrapper">
        <h1>Bienvenu, nous sommes honorés de voir avoir parmis nous</h1>
        <div class="le-site">
            <p>Vous pouvez vous rendre sur les différents aspects du site grâce à ces liens :</p>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="list-item">
                    <a class="link" href="{{ path('home') }}">Accueil</i></a>
                </li>
                <li class="list-item">
                    <a class="link" href="{{ path('overview') }}">Connaître Sandra</i></a>
                </li>
                <li class="list-item">
                    <a class="link" href="">Visages</i></a>
                </li>
            </ul>
        </div>
        
    </div>
</div>
{% endblock %}
