{% extends 'base.html.twig' %}

{% block title %}New Visage{% endblock %}

{% block main %}
    <h1>Create new Visage</h1>

    {{ include('backoffice/visage/_form.html.twig') }}

    <a href="{{ path('app_backoffice_visage_index') }}">back to list</a>
{% endblock %}
