html {
    font-size: 20px;
}

.default {
    color:black;
    
/*     background-color:white;
    background-image:url(/assets/Images/sandra.png);
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat; 
    background-size: cover; */
    
    /*
    On peut également écrire une seule ligne de code équivalente
    */
    background: white url(/assets/Images/sandra.png) no-repeat fixed center center ;
    background-size: cover;
}

.navbar {
    font-style: italic;
    font-size: 1.5em;
}

#topnav {
    position: fixed;
    align-items: center;
    background-attachment: scroll;
}

.container-fluid {
    border-bottom-width: 2px;
    border-bottom-color: red;
}

.example-wrapper{
    color:gold;
}

.licorne {
    color: black;
    background: turquoise url(/assets/Images/licorne.png) no-repeat fixed center center ;
    /* background-size: cover; */
    /* background-size: 100% 85%; */
    background-size: auto;
}

.link-licorne {
    color: turquoise;
    opacity: 0;
    margin-right: 20px;
}

.link-licorne:hover{
    opacity: 1;
    background-color: pink;
}