html {
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}

.default {
    color:black;
    
/*     background-color:white;
    background-image:url(/assets/Images/sandra.png);
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat; 
    background-size: cover; */
    
    /*
    On peut également écrire une seule ligne de code équivalente
    */
    background: white url(/assets/Images/sandra.png) no-repeat fixed center center ;
    background-size: cover;
}

−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− NAVBAR −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−
.navbar {
    font-style: italic;
    font-size: 1.5em;
}

#topnav {
/*     position: fixed;
    align-items: center;
    background-attachment: scroll; */
    position: fixed; /* La navbar reste fixe en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    z-index: 1000; /* Pour s'assurer que la navbar est au-dessus du reste du contenu */
}

.nav-link {
    color: aqua ;
}

#containerNavBar {
    border-bottom-width: 2px;
    border-bottom-color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

main {
    padding-top: 6em;
    flex: 1;
}

.container-fluid {
    border-bottom-width: 2px;
    border-bottom-color: red;
}

.example-wrapper{
    color:gold;
}

/* Style pour le conteneur */
.container-presentation-content {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− PRESENTATIONS OVERVIEW AFFICHAGE CONTENU −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−
/* Style pour la flèche */
/* .toggle-arrow {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s;
} */

/* Flèche vers le bas */
/* .toggle-arrow.down {
    transform: rotate(0deg);
} */

/* Flèche vers le haut */
/* .toggle-arrow.up {
    transform: rotate(180deg);
} */

/* Style pour le contenu caché */
/* .content-presentation {
    display: none;
    margin-top: 10px;
} */


−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− PAGE LICORNE −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−
.Licorne {
    color: black;
    background: turquoise url(/assets/Images/licorne.png) no-repeat fixed center center ;
    background-size: contain;
    height: 100vh;
    margin: 0;
}

.link-licorne {
    color: turquoise;
    opacity: 0;
    margin-right: 20px;
}

.link-licorne:hover{
    opacity: 1;
    background-color: #E3D6C5;
    border-radius: 10px;
}

−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− AFFICHAGE ENCADRES PRESENTATIONS −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−
/* A reprendre pour l'affichage de mon entête des présentations */
.présentation {
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
}

.présentations {
    display: flex ;
    flex-direction: column;
    align-items: center;
    border: 2px solid aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(6, 12, 99, 0.945);
    background-color: rgb(51, 51, 51, 0.5);
    position: relative;
}

.Gauche {
    padding: 2em 2em;
    margin: 2em 50em 2em 10em;
}

.Droite {
    padding: 2em 2em;
    margin: 2em 10em 2em 50em;
}

−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− AFFICHAGE ENCADRES VISAGES −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−
.visage {
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px;
    margin : 48px 192px;
    position: relative;
}

.visages {
    display: flex ;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(255, 217, 0, 0.549);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(255, 215, 0, 0.945);
    background-color: rgb(51, 51, 51, 0.5);
    position: relative;
}

.Gauche {
    padding: 2em 2em;
    margin: 2em 50em 2em 10em;
}

.Droite {
    padding: 2em 2em;
    margin: 2em 10em 2em 50em;
}

.visage-link {
    color: aliceblue;
}

.visage-link:hover {
    color: gold;
}

−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−− BOUTON RETOUR −−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−−
.back-button {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.back-button i {
    margin-right: 20px;
}
.btn-primary {
    border-color: aliceblue;
    background-color: #333;
}