{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Erreur serveur{% endblock %}

{% block body %}
    <h1>Erreur serveur interne (500)</h1>
    <p>Une erreur est survenue sur le serveur. Veuillez réessayer plus tard.</p>
    <a href="{{ path('home') }}">Retour à l'accueil</a>
{% endblock %}