{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block main %}
    <div class="content-erreur">
        <div class="content-message">
            <h1>Une erreur est survenue</h1>
            <p>Une erreur inattendue est survenue. Veuillez réessayer plus tard.</p>
        </div>
    </div>
{% endblock %}